<div class="container">
<div class="row">
<div class="footer-links">
<div class="col-sm-5">

  <a href="{{site.owner.www}}" target="_blank">© {{site.time | date: "%Y"}} {{site.owner.name}}</a>

</div>
<div class="col-sm-2">

  {% if page.title == "index" %}  <!-- Determines which URL to piggyback based on the page title -->
    <a type="button" class="btn control" href="{{page.baseurl}}"><i class="fa fa-home fa-2x"></i></a>
  {% else %}
    <a type="button" class="btn control" href="{{page.baseurl}}cli"><i class="fa fa-home fa-2x"></i></a>
  {% endif %}


</div>
<div class="col-sm-5">

  <a href="{{site.license.www}}" target="_blank">License</a> &middot;
  <a href="{{site.github.repo}}" target="_blank">GitHub</a> &middot;
  <a href="{{site.owner.blog}}" target="_blank">Blog</a> &middot;
  <a href="//twitter.com/{{site.owner.twitter}}" target="_blank">Twitter</a>

</div>
</div>
</div>
</div>
