{% if page.title == "cli" %}  <!-- Determines which banner to show based on the page title -->

<section class="banner"> <!-- Banner -->
<div class="container">
<div class="row">
<div class="col-lg-12">

<div class="col-lg-4 col-md-4" id="banner-wrapper">

  <a href="{{page.baseurl}}getting-started/#toc_2">
  <i class="fa fa-cloud-download fa-5x" id="banner"></i></a>

  <h2>Download from GitHub</h2>
  <p>{{site.project.name}} is open source. Download it, clone it, or fork it directly from GitHub.</p>

</div>

<div class="col-lg-4 col-md-4" id="banner-wrapper">

  <a href="{{site.github.watch}}" target="_blank">
  <i class="fa fa-comment-o fa-5x" id="banner"></i></a>

  <h2>Watch our Repo</h2>
  <p>Join our <span id="github-watchers"><i class="fa fa-spinner fa-spin"></i></span> other followers and keep up with the latest on what's happening in real-time.</p>

</div>

<div class="col-lg-4 col-md-4" id="banner-wrapper">

  <a href="{{page.baseurl}}learn-more/#toc_1">
  <i class="fa fa-users fa-5x" id="banner"></i></a>

  <h2>Become a Contributor</h2>
  <p><span id="github-contributors"><i class="fa fa-spinner fa-spin"></i></span> contributors have put time and effort into {{site.project.name}}. Find out how you can help.</p>


</div>
</div>
</div>
</div>
</section> <!-- End Banner -->

{% else %}

<section class="banner"> <!-- Banner -->
<div class="container">
<div class="row">
<div class="col-lg-12">

<div class="col-lg-4 col-md-4" id="banner-wrapper">

  <a href="http://softlayer-api-python-client.readthedocs.org/en/latest/install" target="_blank">
  <i class="fa fa-cloud-download" id="banner"></i></a>

  <h2>Download from GitHub</h2>
  <p>{{site.project.alias}} is open source. Download it, clone it, or fork it directly from GitHub.</p>

</div>
<div class="col-lg-4 col-md-4" id="banner-wrapper">

  <a href="{{site.github.watch}}" target="_blank">
  <i class="fa fa-comment-o" id="banner"></i></a>

  <h2>Watch our Repo</h2>
  <p>Join our <span id="github-watchers"><i class="fa fa-spinner fa-spin"></i></span> other followers and keep up with the latest on what's happening in real-time.</p>

</div>
<div class="col-lg-4 col-md-4" id="banner-wrapper">

  <a href="{{page.baseurl}}cli">  
  <i class="fa fa-terminal" id="banner"></i></a>

  <h2>SoftLayer CLI</h2>
  <p>Bypass all the portal screens. Use our CLI to spin up and manage your virtual servers instantly.</p>

</div>
</div>
</div>
</div>
</section> <!-- End Banner -->

{% endif %}
