{% if page.title == "cli" %}  <!-- Determines which banner to show based on the page title -->

<section class="banner"> <!-- Banner -->
<div class="container">
<div class="row">
<div class="col-lg-12">

<div class="col-lg-4 col-md-4" id="banner-wrapper">
  <i class="fa fa-github fa-5x" id="banner"></i>

    <h2>Open Source</h2>
    <p>{{site.project.name}} is hosted, developed, and maintained publicly on GitHub.</p>
    <a class="btn gray" href="{{page.baseurl}}getting-started/#toc_3">Download CLI</a>

</div>

<div class="col-lg-4 col-md-4" id="banner-wrapper">
  <i class="fa fa-sign-in fa-5x" id="banner"></i>

    <h2>Get Tuned-In</h2>
    <p>Keep up with the latest on {{site.project.name}}. Join our <span id="github-watchers"><i class="fa fa-spinner fa-spin"></i></span> other followers and get updates.</p>
    <a class="btn gray" href="#">Watch our Repo</a>

</div>

<div class="col-lg-4 col-md-4" id="banner-wrapper">
  <i class="fa fa-users fa-5x" id="banner"></i>

    <h2>Contribute</h2>
    <p><span id="github-contributors"><i class="fa fa-spinner fa-spin"></i></span> contributors have put time and effort into {{site.project.name}}. Find out how you can help.</p>
    <a class="btn gray" href="{{page.baseurl}}contributors-guidelines">Learn More</a>

</div>
</div>
</div>
</div>
</section> <!-- End Banner -->

{% else %}

<section class="banner"> <!-- Banner -->
<div class="container">
<div class="row">
<div class="col-lg-12">

<div class="col-lg-4 col-md-4" id="banner-wrapper">
  <i class="fa fa-terminal fa-5x" id="banner"></i>

    <h2>SoftLayer CLI</h2>
    <p>{{site.project.name}} is hosted, developed, and maintained publicly on GitHub.</p>
    <a class="btn gray" href="{{page.baseurl}}getting-started/#toc_3">Download CLI</a>

</div>

<div class="col-lg-4 col-md-4" id="banner-wrapper">
  <i class="fa fa-sign-in fa-5x" id="banner"></i>

    <h2>Get Tuned-In</h2>
    <p>Keep up with the latest on {{site.project.name}}. Join our <span id="github-watchers"><i class="fa fa-spinner fa-spin"></i></span> other followers and get updates.</p>
    <a class="btn gray" href="#">Watch our Repo</a>

</div>

<div class="col-lg-4 col-md-4" id="banner-wrapper">
  <i class="fa fa-users fa-5x" id="banner"></i>

    <h2>Contribute</h2>
    <p><span id="github-contributors"><i class="fa fa-spinner fa-spin"></i></span> contributors have put time and effort into {{site.project.name}}. Find out how you can help.</p>
    <a class="btn gray" href="{{page.baseurl}}contributors-guidelines">Learn More</a>

</div>
</div>
</div>
</div>
</section> <!-- End Banner -->

{% endif %}
