{% if page.title == "cli" %}  <!-- Determines which lead to show based on the page title -->

<section class="lead"> <!-- lead -->
<div class="container">
<div class="col-lg-12">

  <h1>Managing your virtual servers just got a whole lot easier</h1>

</div>
</div>
</section> <!-- End lead -->

{% else %}

<section class="lead"> <!-- lead -->
<div class="container">
<div class="col-lg-12">

  <h1>Managing your virtual servers just got a whole lot easier</h1>

</div>
</div>
</section> <!-- End lead -->

{% endif %}
