{% if page.title == "cli" %}  <!-- Determines which lead to show based on the page title -->

<section class="lead"> <!-- Lead -->
<div class="container">
<div class="col-lg-12">

  <h1>Managing your virtual resources just got a whole lot easier</h1>
  <h3>SoftLayer CLI provides the facilities for spinning-up virtual servers and carry out administrative tasks. It's a faster and more natural alternative to using the SoftLayer Portal.</h3>

</div>
</div>
</section> <!-- End Lead -->

{% else %}

<section class="lead"> <!-- Lead -->
<div class="container">
<div class="col-lg-12">

  <h1>Managing your virtual servers just got a whole lot easier</h1>

</div>
</div>
</section> <!-- End Lead -->

{% endif %}
