/* =========================
   Sections
   ========================= */

section {
  text-align: center;
  font-family: @font-family-heading;
}

// Hero
// -------------------------

.hero {
  padding: 50px 0;
  width: 100%;
  height: auto;
  background-color: @hero-bg;
  color: @hero-color;
}

.hero-name {
  margin: 50px 0 0;
  color: @hero-color;
  font-weight: @font-weight-bold;
  font-size: 39px;
}

.hero-tagline {
  margin: 5px 0 12px;
  color: @hero-tagline-color;
  letter-spacing: @letter-spacing-normal;
  font-weight: @font-weight-light;
  font-size: 23px;
  line-height: 1.1818;
}

.hero-buttons {
  display: block;
  margin-bottom: 21px;

  > a.btn.white {
    margin-bottom: auto 2px;
    width: 130px;
  }
}

.hero-version {
  p {
    margin: 22px 0 0;
    color: @hero-version-color;
    letter-spacing: @letter-spacing-normal;
    font-size: 14px;
  }
}

@media (min-width: @screen-sm) {
  .hero {
    padding: 200px 0 250px;
    height: 100%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../../public/images/featured-bg.jpg");
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../../public/images/featured-bg.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../../public/images/featured-bg.jpg");
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-name {
    margin: 0;
    font-size: 50px;
  }

  .hero-tagline {
    margin: 0 20px 20px;
    font-size: 28px;
    line-height: 1.214;
  }
}

// Banner
// -------------------------

.banner {
  width: 100%;
  height: auto;
  background-color: @banner-bg;
  color: @banner-color;
  transition-duration: .5s;
  transition-property: all;

  h2 {
    margin: 20px 0 0;
    color: inherit;
    font-weight: @font-weight-normal !important;
    font-size: 25px;
    line-height: @line-height-xsmall;
    letter-spacing: @letter-spacing-large;
  }

  p {
    color: inherit;
    text-shadow: none;
    letter-spacing: 0;
    font-weight: @font-weight-normal !important;
    font-family: @font-family-sans;
    font-size: 16px;
    line-height: 1.5;
  }
}

#banner-wrapper {
  padding-top: 80px;
  padding-bottom: 0;
  &:last-child {
    padding-bottom: 80px;
  }
}

@media (min-width: @screen-sm) {
  #banner-wrapper {
    padding-bottom: 120px;
  }
}

i#banner {
  font-size: 158px;
  color: @banner-icons;
}

// Tagline
// -------------------------

.tagline {
  padding: 50px 0;
  background-color: @tagline-bg;

  h1 {
    color: @tagline-color;
    font-size: 36px;
  }
}

// Folio
// -------------------------

.folio {
  background-color: @white;
  padding: 80px 0;
}

ol#repos {
  margin: 0;
  padding: 0;
}

.project .name {
  width: 220px;
  display: inline;
  float: left;
  position: relative;
  margin: 15px 5px;
  border-bottom-width: 2.5px;
}

.repo {
  border-radius: 5px;
  border: 1px solid @folio-repo-border;
  background: @folio-repo-bg;
  height: 260px;

  > a {
    display:block;
    width: 100%;
    height: 100%;
    color: inherit;
    border-bottom: 0;
  }

  h4,
  h5,
  h6 {
    color: @folio-repo-footer-color;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    font-weight: @font-weight-normal;
    font-size: 11.5px;
  }

  h2,
  h4,
  p {
    text-align: left;
  }

  h5,
  h6 {
    text-align: right;
  }

  h2 {
    color: @folio-repo-header-color;
    font-size: 23px;
    line-height: 1.1818;
    font-weight: @font-weight-normal;
    border-bottom: 1px solid @folio-repo-border;
    padding: 12px 20px;
    margin-top: 0;
    letter-spacing: @letter-spacing-large;
  }

  h4 {
    padding: 15px 25px 25px 20px;
    background-color: @folio-repo-footer-bg;
  }

  h5 {
    padding: 15px 45px 23px 0;
    &:before {
      padding-right: 3px;
      content: "\f005";
      font-family: FontAwesome;
    }
  }

  h6 {
    padding: 15px 15px 23px 0;
    &:before {
      padding-right: 3px;
      content: "\f126";
      font-family: FontAwesome;
    }
  }

  p {
    color: @folio-repo-color;
    font-size: 13.5px;
    margin: 10px 10px 20px 20px;
    font-family: @font-family-sans;
  }
}

.repo.name.c {
    font-style: normal;
}
