/* =========================
   Sections
   ========================= */

section {
  text-align: center;
  font-family: @font-family-modern-sans;
}

// Hero
// -------------------------

.hero {
  padding: 33px 0 77px;
  width: 100%;
  height: 100%;
  height: auto;
  color: @hero-color;
  background-color: @hero-bg;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../public/images/featured-bg.jpg");
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../public/images/featured-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../public/images/featured-bg.jpg");
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
    background-repeat: no-repeat;
}

.hero-custom {
  padding: 33px 0 77px;
  width: 100%;
  height: 100%;
  height: auto;
  color: @hero-color;
  background-color: @hero-bg;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../public/images/featured-bg-2.jpg");
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../public/images/featured-bg-2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../public/images/featured-bg-2.jpg");
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
    background-repeat: no-repeat;
}

.hero-name {
  margin: 99px 0 0;
  color: @hero-color;
  font-weight: @font-weight-bold;
  font-size: 39px;
}

.hero-tagline {
  margin: 4px 0 11px;
  color: @hero-tagline-color;
  letter-spacing: @letter-spacing-normal;
  font-weight: @font-weight-light;
  font-size: 23px;
  line-height: 1.1818;
}

.hero-buttons {
  display: block;
  margin-bottom: 22px;

  > a.btn.white {
    margin: auto 4px;
    width: 132px;
  }
}

.hero-version {
  p {
    margin: 22px 0 0;
    color: @hero-version-color;
    letter-spacing: @letter-spacing-normal;
    font-size: 14px;
  }
}

@media (min-width: @screen-md) {
  .hero {
    padding: 220px 0 231px;
  }

  .hero-name {
    margin: 0;
    font-size: 50px;
  }

  .hero-tagline {
    margin: 0 22px 22px;
    font-size: 28px;
    line-height: 1.214;
  }
}

@media (min-width: @screen-lg) {
  .hero {
    padding: 220px 0 330px;
  }
}

// Banner
// -------------------------

.banner {
  .transition-duration(.5s);
  .transition-property(all);
  width: 100%;
  height: auto;
  background-color: @banner-bg;
  color: @banner-color;

  h2 {
    margin: 18px 0 0;
    color: inherit;
    font-weight: @font-weight-normal !important;
    line-height: @line-height-xsmall;
    letter-spacing: @letter-spacing-large;
  }

  p {
    color: inherit;
    text-shadow: none;
    letter-spacing: 0;
    font-weight: @font-weight-normal !important;
    font-family: @font-family-sans;
    font-size: 16px;
    line-height: 1.5;
  }
}

#banner-wrapper {
  padding-top: 66px;
  padding-bottom: 0;
  &:last-child {
    padding-bottom: 66px;
  }
}

@media (min-width: @screen-sm) {
  #banner-wrapper {
    padding-bottom: 66px;
  }
}

i#banner {
  font-size: 143px;
  color: @banner-icons;
}

// Lead
// -------------------------

.lead {
  padding: 44px 0;
  background-color: @lead-bg;

  h1 {
    color: @lead-color;
    font-size: 36px;
  }

  h3 {
    color: @lead-color;
    font-size: 24px;
    line-height: 1.33;
    font-family: @font-family-sans;
  }
}

// Profile
// -------------------------

.profile {
  background-color: @white;
  padding: 66px 0;
}

ol#repos {
  margin: 0;
  padding: 0;
}

.project .name {
  width: 220px;
  display: inline;
  float: left;
  position: relative;
  margin: 15px 4px;
  border-bottom-width: 2.5px;
}

.repo {
  border-radius: 5px;
  border: 1px solid @profile-repo-border;
  background: @profile-repo-bg;
  height: 260px;

  > a {
    display:block;
    width: 100%;
    height: 100%;
    color: inherit;
    border-bottom: 0;
  }

  h4,
  h5,
  h6 {
    color: @profile-repo-footer-color;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    font-weight: @font-weight-normal;
    font-size: 11.5px;
  }

  h2,
  h4,
  p {
    text-align: left;
  }

  h5,
  h6 {
    text-align: right;
  }

  h2 {
    color: @profile-repo-header-color;
    font-size: @font-size-h3;
    line-height: 1.1818;
    font-weight: @font-weight-normal;
    border-bottom: 1px solid @profile-repo-border;
    padding: 11px 18px;
    margin-top: 0;
    letter-spacing: @letter-spacing-large;
  }

  h4 {
    padding: 15px 25px 25px 18px;
    background-color: @profile-repo-footer-bg;
  }

  h5 {
    padding: 15px 45px 23px 0;
    &:before {
      padding-right: 3px;
      content: "\f005";
      font-family: FontAwesome;
    }
  }

  h6 {
    padding: 15px 15px 23px 0;
    &:before {
      padding-right: 3px;
      content: "\f126";
      font-family: FontAwesome;
    }
  }

  p {
    color: @profile-repo-color;
    font-size: @font-size-medium;
    margin: 11px 11px 20px 20px;
    font-family: @font-family-sans;
  }
}

.repo.name.c {
    font-style: normal;
}
