<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>

<body class="content">
  {% if page.title == "index" %} <!-- Determines which menu to show based on the page title -->
    {% include custom.html %}
  {% else %}
    {% include menu.html %}
  {% endif %}

    {{ content }}

<a id="scroll-up" href="#"> <!-- Controls originate in lateral.coffee -->
  <i class="fa fa-chevron-up"></i>
</a>

<footer class="footer">
  {% include footer.html %}
</footer>
  {% include handlers/scripts.html %}
  {% include handlers/analytics.html %}
</body>
</html>
