---
layout: default
---

<div class="container" id="page-content">
<div class="row">
<div class="col-lg-9 col-lg-9-offset-2 col-md-9 col-md-9-offset-2">
<header>
  <h1 class="page-header">{{page.header}}</h1>
  <h2 class="page-intro">{{page.intro}}</h2>
</header>

    {{content}}

</div>
<div class="col-lg-1 col-md-1">
<div class="subnav" id="toc">
  <ul class="nav subnav">
    <li class="tocify" id="tocify"></li> <!-- Results originate from tocify.coffee -->
  </ul>
</div>
</div>
</div>
</div>
